/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{text-decoration: none;}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styles */
.container {
    background-color: #2a2a2a;
    border-radius: 12px;
    border: 2px solid #007acc;
    padding: 40px;
    width: 90vw;
    position: relative;
}

/* Container::before styles */
.container::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    border-radius: 16px;
    opacity: 0.1;
    z-index: -1;
}

/* Heading styles */
h1 {
    font-size: 28px;
    margin-bottom: 24px;
    color: #f0f0f0;
}

/* Textarea styles */
textarea {
    width: 100%;
    padding: 16px;
    border: 2px solid white;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    background-color: #2a2a2a;
    color: #f0f0f0;
    height: 32vh;
    margin-bottom: 24px;
    overflow: auto;
}

/* Custom button styles */
.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: #007acc;
    color: #f0f0f0;
    border: 2px solid #005bb5;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s, font-size 0.3s;
    font-size: 18px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
}

/* Custom-button:hover styles */
.custom-button:hover {
    transform: scale(1.02);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
}

/* Custom-button:active styles */
.custom-button:active {
    transform: translateY(2px);
}

/* Json Obfuscator text styles */
.json-obfuscator-text {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #ffa500;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Output wrapper and input-wrapper styles */
.output-wrapper, .input-wrapper {
    position: relative;
}

/* Copy/Paste button styles */
.copy-button, .paste-button, .clear-button {
    position: absolute;
    top: -34px;
    right: 0;
    padding: 6px 12px;
    background-color: #007acc;
    color: #f0f0f0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Copy-button:hover, paste-button:hover, clear-button:hover styles */
.copy-button:hover, .paste-button:hover, .clear-button:hover {
    background-color: #005bb5;
}

/* Clear-button styles */
.clear-button {
    position: absolute;
    right: 65px;
    padding: 2px 12px;
    background-color: #d9534f;
    color: #f0f0f0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

/* Clear-button:hover styles */
.clear-button:hover {
    background-color: #c9302c;
}

/* Import button styles */
.import-button {
    top: 10px;
    position: absolute;
    padding: 2px 6px;
    right: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
}

.import-button:hover {
    background-color: #f0f0f0;
}

/* Export button styles */
.export-button {
    top: -34px;
    position: absolute;
    padding: 6px 12px;
    right: 65px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
}

/* Export-button:hover styles */
.export-button:hover {
    background-color: #f0f0f0;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .import-button,
    .export-button {
        position: static; /* Mengubah posisi menjadi statis agar tombol tampil dalam alur dokumen */
        margin-top: 10px; /* Menambahkan jarak dari atas */
        padding: 6px 12px; /* Mengembalikan padding yang lebih besar */
        width: 100%; /* Membuat tombol mengisi lebar kontainer */
        text-align: center; /* Pusatkan teks tombol */
    }
}